#ignore everything
*

# except for these (more exceptions are added as needed)
!.gitignore
!README.md
!*.cs
!*.sln
!Bison.CLI.csproj
!src
!src/**
**/bin/
**/obj/
!test
!Client
!SimpleDB
!SimpleDB.csproj
!Directory.build.props
!data
!data/*.csv
!.github/
!.github/**

!test/
!test/**